/* 	Basic CSS */
body{
	background-color: rgba(0, 0, 0, 0.9);
}
#crotator{
	width: 400px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-left: 24px solid rgba(63, 131, 184, 0.78);
	-webkit-box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
}
h3, h4{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
	font-style: italic;
	color: #009;
	text-align: center;
}